<!DOCTYPE html>
<html>
<head>
    <title>Diccionario</title>
</head>
<body>
    <h1>Diccionario</h1>
    <table>
        <tr>
            <th>Palabra</th>
            <th>Significado</th>
            <th>Acciones</th>
        </tr>
        {% for palabra in palabras %}
            <tr>
                <td>{{ palabra[0] }}</td>
                <td>{{ palabra[1] }}</td>
                <td>
                    <form action="{{ url_for('delete_word', palabra=palabra[0]) }}" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
<a href="{{ url_for('home') }}" class="btn btn-primary">Volver a inicio</a>
</body>
</html>
